html,body{
    width: 100%;
    height: 100%;
}

body {
  background: white;
  overflow: hidden;
}

#circle {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 width: 450px;
 height: 450px;	
}

.loader {
 width: calc(100% - 0px);
 height: calc(100% - 0px);
 border: 18px solid #162534;
 border-top: 18px solid #09f;
 border-radius: 50%;
 animation: rotate 5s linear infinite;
}

.loader1 {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 18px solid #162534;
    border-top: 18px solid #09f;
    border-radius: 50%;
    animation: rotate1 5s linear infinite;
   }

   @keyframes rotate1 {
    100% {transform: rotate(360deg);}
    } 

@keyframes rotate {
100% {transform: rotate(360deg);}
} 